$background-container: #f1f1f1;
$border-field-valid-: 1px solid #ccc;
$border-field-invalid: 1px solid #ed1c24;
$border-field_focus: 1px solid #9e9e9e;
$background-field: #f9f9f9;
$background-field-invalid: #ffdede;
$background-field-focus: #fff;
$background-field-disabled: #ededed;
$disabled-text: #a8a8a8;
$hover-link: #0071bc;